*.jar
*.entry.hjson
*.pack.hjson
loaders/
.curse/
_upload/
.voodoo/
tome/
*.zip
.server/
.multimc/
.history/
workspace/
cotm.json
cotm.changelog.md
server_cotm/
debug\.log
push_pack.sh
push_server.sh
push_sk_client.sh