# idea
.idea/

# gradle
.gradle/
build/
out/

# voodoo
*.jar
*.entry.hjson
*.pack.hjson
loaders/
.curse/
_upload/
.voodoo/
tome/
docs/
*.zip
.server/
.multimc/
.history/
workspace/
cotm.changelog.md
server_cotm/
debug\.log

# scripts
push_pack.sh
push_server.sh
push_sk_client.sh
