# Configuration file

conductive_iron {
    # Global toggle for the Conductive Iron material
    S:enable_conductive_iron=true

    # Whether Conductive Iron should be used for cores
    S:enable_cores=true

    # Whether Conductive Iron should be used for plates
    S:enable_plates=true

    # Whether Conductive Iron should be used for trims
    S:enable_trims=true
}


construction_alloy {
    # Global toggle for the Iron Alloy material
    S:enable_construction_alloy=true

    # Whether Iron Alloy should be used for cores
    S:enable_cores=true

    # Whether Iron Alloy should be used for plates
    S:enable_plates=true

    # Whether Iron Alloy should be used for trims
    S:enable_trims=true
}


dark_steel {
    # Whether Dark Steel should be used for cores
    S:enable_cores=true

    # Global toggle for the Dark Steel material
    S:enable_dark_steel=true

    # Whether Dark Steel should be used for plates
    S:enable_plates=true

    # Whether Dark Steel should be used for trims
    S:enable_trims=true
}


electrical_steel {
    # Whether Electrical Steel should be used for cores
    S:enable_cores=true

    # Global toggle for the Electrical Steel material
    S:enable_electrical_steel=true

    # Whether Electrical Steel should be used for plates
    S:enable_plates=true

    # Whether Electrical Steel should be used for trims
    S:enable_trims=true
}


end_steel {
    # Whether End Steel should be used for cores
    S:enable_cores=true

    # Global toggle for the End Steel material
    S:enable_end_steel=true

    # Whether End Steel should be used for plates
    S:enable_plates=true

    # Whether End Steel should be used for trims
    S:enable_trims=true
}


energetic_alloy {
    # Whether Energetic Alloy should be used for cores
    S:enable_cores=true

    # Global toggle for the Energetic Alloy material
    S:enable_energetic_alloy=true

    # Whether Energetic Alloy should be used for plates
    S:enable_plates=true

    # Whether Energetic Alloy should be used for trims
    S:enable_trims=true
}


fierymetal {
    # Whether Fiery should be used for cores
    S:enable_cores=true

    # Global toggle for the Fiery material
    S:enable_fierymetal=true

    # Whether Fiery should be used for plates
    S:enable_plates=true

    # Whether Fiery should be used for trims
    S:enable_trims=true
}


knightmetal {
    # Whether Knightly should be used for cores
    S:enable_cores=true

    # Global toggle for the Knightly material
    S:enable_knightmetal=true

    # Whether Knightly should be used for plates
    S:enable_plates=true

    # Whether Knightly should be used for trims
    S:enable_trims=true
}


nagascale {
    # Whether Naga Scale should be used for cores
    S:enable_cores=true

    # Global toggle for the Naga Scale material
    S:enable_nagascale=true
}


pulsating_iron {
    # Whether Pulsating Iron should be used for cores
    S:enable_cores=true

    # Whether Pulsating Iron should be used for plates
    S:enable_plates=true

    # Global toggle for the Pulsating Iron material
    S:enable_pulsating_iron=true

    # Whether Pulsating Iron should be used for trims
    S:enable_trims=true
}


redstone_alloy {
    # Whether Redstone Alloy should be used for cores
    S:enable_cores=true

    # Whether Redstone Alloy should be used for plates
    S:enable_plates=true

    # Global toggle for the Redstone Alloy material
    S:enable_redstone_alloy=true

    # Whether Redstone Alloy should be used for trims
    S:enable_trims=true
}


soularium {
    # Whether Soularium should be used for cores
    S:enable_cores=true

    # Whether Soularium should be used for plates
    S:enable_plates=true

    # Global toggle for the Soularium material
    S:enable_soularium=true

    # Whether Soularium should be used for trims
    S:enable_trims=true
}


steeleaf {
    # Whether Steeleaf should be used for cores
    S:enable_cores=true

    # Whether Steeleaf should be used for plates
    S:enable_plates=true

    # Global toggle for the Steeleaf material
    S:enable_steeleaf=true

    # Whether Steeleaf should be used for trims
    S:enable_trims=true
}


vibrant_alloy {
    # Whether Vibrant Alloy should be used for cores
    S:enable_cores=true

    # Whether Vibrant Alloy should be used for plates
    S:enable_plates=true

    # Whether Vibrant Alloy should be used for trims
    S:enable_trims=true

    # Global toggle for the Vibrant Alloy material
    S:enable_vibrant_alloy=true
}


xu_demonic_metal {
    # Whether Demonic Metal should be used for cores
    S:enable_cores=true

    # Whether Demonic Metal should be used for plates
    S:enable_plates=true

    # Whether Demonic Metal should be used for trims
    S:enable_trims=true

    # Global toggle for the Demonic Metal material
    S:enable_xu_demonic_metal=true
}


xu_enchanted_metal {
    # Whether Enchanted Metal should be used for cores
    S:enable_cores=true

    # Whether Enchanted Metal should be used for plates
    S:enable_plates=true

    # Whether Enchanted Metal should be used for trims
    S:enable_trims=true

    # Global toggle for the Enchanted Metal material
    S:enable_xu_enchanted_metal=true
}


xu_evil_metal {
    # Whether Evil Infused Iron should be used for cores
    S:enable_cores=true

    # Whether Evil Infused Iron should be used for plates
    S:enable_plates=true

    # Whether Evil Infused Iron should be used for trims
    S:enable_trims=true

    # Global toggle for the Evil Infused Iron material
    S:enable_xu_evil_metal=true
}


xu_magical_wood {
    # Whether Magical Wood should be used for cores
    S:enable_cores=true

    # Whether Magical Wood should be used for plates
    S:enable_plates=true

    # Whether Magical Wood should be used for trims
    S:enable_trims=true

    # Global toggle for the Magical Wood material
    S:enable_xu_magical_wood=true
}


